# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# Pipenv
Pipfile.lock

# Distribution files
*.egg
*.egg-info/
dist/
build/
*.whl

# Logs
*.log
logs/
*.out

# Environment variables
.env
.env.*.local

# Database
*.sqlite3
*.db

# Static files
/static/
*.css.map
*.js.map

# Media files
/media/

# Celery beat schedule files
celerybeat-schedule

# IDE and editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.orig

# Pytest cache
.cache/

# Coverage reports
.coverage
*.cover
coverage.xml
htmlcov/

# Migrations
migrations/
*.pyc
*.pyo
*.pyd

# Jupyter Notebooks
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Django-specific
*.pot
local_settings.py
db.sqlite3
staticfiles/
mediafiles/

# Flask-specific
instance/
*.bak
*.tmp
